<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Buat Siswa Baru</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon.png"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon.png"
    />
    <link
      href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link
      href="/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="preloader">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <div id="main-wrapper">
      <div class="nav-header">
        <a href="index.html" class="brand-logo">
          <img src="./icons/ic-logo.png" class="logo-abbr">
          <img src="./icons/ic-logo.svg" class="brand-title">
        </a>

        <div class="nav-control">
          <div class="hamburger">
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
        </div>
      </div>
      <div class="chatbox">
        <div class="chatbox-close"></div>
      </div>
      <div class="header">
        <div class="header-content">
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
              <div class="header-left">
                <div class="dashboard_bar">
                  <div
                    class="input-group search-area d-lg-inline-flex d-none mr-5"
                  >
                    <div class="input-group-append">
                      <a href="javascript:void(0);" class="input-group-text">
                        <i class="flaticon-381-search-2"></i>
                      </a>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search here"
                    />
                  </div>
                </div>
              </div>
              <ul class="navbar-nav header-right">
                <li class="nav-item dropdown notification_dropdown">
                  <a
                    class="nav-link ai-icon"
                    href="javascript:void(0)"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <svg
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M25.4707 19.1862L23.3333 15.9802V11.6667C23.3333 9.19135 22.35 6.81738 20.5997 5.06704C18.8493 3.3167 16.4753 2.33337 14 2.33337C11.5246 2.33337 9.15066 3.3167 7.40033 5.06704C5.64999 6.81738 4.66666 9.19135 4.66666 11.6667V15.9802L2.52932 19.1862C2.41256 19.362 2.34562 19.5661 2.33561 19.7769C2.32559 19.9877 2.37288 20.1972 2.47245 20.3833C2.57201 20.5693 2.72013 20.7249 2.90106 20.8335C3.08199 20.9421 3.28897 20.9997 3.49999 21H24.5C24.711 20.9997 24.918 20.9421 25.0989 20.8335C25.2798 20.7249 25.428 20.5693 25.5275 20.3833C25.6271 20.1972 25.6744 19.9877 25.6644 19.7769C25.6544 19.5661 25.5874 19.362 25.4707 19.1862Z"
                        fill="#A5A5A5"
                      />
                      <path
                        d="M14 25.6666C15.0344 25.6675 16.0397 25.324 16.8572 24.6903C17.6748 24.0565 18.258 23.1686 18.515 22.1666H9.485C9.74197 23.1686 10.3252 24.0565 11.1428 24.6903C11.9603 25.324 12.9656 25.6675 14 25.6666Z"
                        fill="#A5A5A5"
                      />
                    </svg>

                    <span
                      class="badge light text-white bg-primary rounded-circle"
                      >1</span
                    >
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <div
                      id="dlab_W_Notification1"
                      class="widget-media dz-scroll p-3 height380"
                    >
                      <ul class="timeline">
                        <li>
                          <div class="timeline-panel">
                            <div class="media mr-2 media-primary">
                              <i class="fa fa-home"></i>
                            </div>
                            <div class="media-body">
                              <h6 class="mb-1">Reminder : Treatment Time!</h6>
                              <small class="d-block"
                                >29 July 2020 - 02:26 PM</small
                              >
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <a class="all-notification" href="javascript:void(0)"
                      >See all notifications <i class="ti-arrow-right"></i
                    ></a>
                  </div>
                </li>
                <li class="nav-item dropdown header-profile">
                  <a
                    class="nav-link"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <img
                      src="/images/profile/pic1.jpg"
                      width="20"
                      alt=""
                      class="rounded-circle"
                    />
                    <div class="header-info">
                      <span>Wiliam</span>
                      <small>Super Admin</small>
                    </div>
                    <i
                      class="fa fa-caret-down ml-3 mr-2"
                      aria-hidden="true"
                    ></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="/app-profile.html" class="dropdown-item ai-icon">
                      <svg
                        id="icon-user1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="text-primary"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                        ></path>
                        <circle cx="12" cy="7" r="4"></circle>
                      </svg>
                      <span class="ml-2">Profile </span>
                    </a>
                    <a href="/email-inbox.html" class="dropdown-item ai-icon">
                      <svg
                        id="icon-inbox"
                        xmlns="http://www.w3.org/2000/svg"
                        class="text-success"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                        ></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                      </svg>
                      <span class="ml-2">Inbox </span>
                    </a>
                    <a href="/page-login.html" class="dropdown-item ai-icon">
                      <svg
                        id="icon-logout"
                        xmlns="http://www.w3.org/2000/svg"
                        class="text-danger"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        <path
                          d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"
                        ></path>
                        <polyline points="16 17 21 12 16 7"></polyline>
                        <line x1="21" y1="12" x2="9" y2="12"></line>
                      </svg>
                      <span class="ml-2">Logout </span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="deznav">
        <div class="deznav-scroll">
          <ul class="metismenu" id="menu">
             <li>
                <a href="/index.html" class="ai-icon" aria-expanded="false">
                      <i class="flaticon-025-dashboard"></i>
                      <span class="nav-text">Dashboard</span>
                </a>
              </li>
            <li>
              <a
                class="has-arrow ai-icon"
                href="javascript:void()"
                aria-expanded="false"
              >
                <i class="fa fa-users"></i>
                <span class="nav-text">Master Siswa</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/create-student.html">Buat Siswa Baru</a></li>
                <li><a href="/student.html">Data Siswa</a></li>
              </ul>
            </li>
          </ul>
          <div class="drum-box">
            <img src="images/ellipse5.png" alt="" />
            <p class="fs-18 font-w500 mb-4">DIVISI TEKNOLOGI</p>
          </div>
          <div class="copyright">
            <p>© 2021 All Rights Reserved</p>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="container-fluid">
          <!-- Add Project -->
          <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
              <div class="welcome-text">
                <h4>Buat Siswa Baru</h4>
              </div>
            </div>
          </div>
          <!-- row -->
          <form id="formStudent">
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-header">
                    <h4 class="card-title">
                      <i class="fa fa-id-badge"></i> Identitas
                    </h4>
                  </div>
                  <div class="card-body">
                    <div class="basic-form">
                      <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label"
                          >Nama Lengkap</label
                        >
                        <div class="col-sm-9">
                          <input id="name" type="text" class="form-control" />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="nik" class="col-sm-3 col-form-label">NIK</label>
                        <div class="col-sm-9">
                          <input id="nik" type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="ttl" class="col-sm-3 col-form-label"
                          >Tempat / Tanggal Lahir</label
                        >
                        <div class="col-md-9">
                          <div class="row">
                            <div class="col-sm-6">
                              <input id="ttl" type="text" class="form-control" placeholder="Tempat lahir" />
                            </div>
                            <div id="ttl" class="col-sm-6">
                              <input
                                type="date"
                                class="form-control"
                                placeholder="Tanggal lahir"
                                id="dob"
                                name="date"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="address" class="col-sm-3 col-form-label"
                          >Alamat Tinggal</label
                        >
                        <div class="col-sm-9">
                          <textarea
                            class="form-control"
                            rows="4"
                            id="address"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-header">
                    <h4 class="card-title">
                      <i class="fa fa-address-book"></i>
                      Kontak
                    </h4>
                  </div>
                  <div class="card-body">
                    <div class="basic-form">
                      <div class="form-group row">
                        <label for="phone_number" class="col-sm-3 col-form-label"
                          >Nomor Handphone</label
                        >
                        <div class="col-sm-9">
                          <input id="phone_number" type="text" class="form-control " />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="email">Email</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="email" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label"
                          >Akun Media Sosial</label
                        >
                        <div class="col-md-9">
                          <div class="form-check mb-2">
                            <div class="col-md-12 col-sm-12">
                              <div class="row">
                                <div class="col-md-2 col-sm-12">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="fb"
                                    value=""
                                    v-model="checkedSocmedFb"
                                    :value="false"
                                  />
                                  <label for="fb" class="form-check-label" for="fb"
                                    >Facebook</label
                                  >
                                </div>
                                <div v-if="checkedSocmedFb == true" class="col-md-10 col-sm-12 input-primary">
                                  <input
                                    type="text"
                                    class="form-control ml-3"
                                    placeholder="Akun Facebook"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-check mb-2">
                            <div class="col-md-12 col-sm-12">
                              <div class="row">
                                <div class="col-md-2 col-sm-12">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="ig"
                                    value=""
                                    v-model="checkedSocmedIg"
                                    :value="false"
                                  />
                                  <label for="ig" class="form-check-label" for="ig"
                                    >Instagram</label
                                  >
                                </div>
                                <div v-if="checkedSocmedIg == true" class="col-md-10 col-sm-12 input-primary">
                                  <input
                                    type="text"
                                    class="form-control ml-3"
                                    placeholder="Akun Instagram"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-header">
                    <h4 class="card-title">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Informasi Penunjang
                    </h4>
                  </div>
                  <div class="card-body">
                    <div class="basic-form">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                          <label for="edu" class="col-form-label"
                            >Pendidikan Terakhir</label
                          >
                          <div class="row">
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="education" value="TK" />
                                TK</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="education" value="SD" />
                                SD</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="education" value="SMP" />
                                SMP</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="education" value="SMA" />
                                SMA</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="education" value="SMK" />
                                SMK</label
                              >
                            </div>
                            <div
                              class="col-md-3 col-sm-12 radio-inline"
                            >
                              <label class="radio-inline"
                                ><input type="radio" name="education" value="PERGURUAN TINGGI" />
                                Perguruan Tinggi</label
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                          <label class="col-form-label"
                            >Pekerjaan Saat Ini</label
                          >
                          <div class="row">
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="job" value="BELUM BEKERJA" v-model="isOther" :value="true" /> Belum
                                Bekerja</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="job" value="PEGAWAI NEGERI" v-model="isOther" :value="true" /> Pegawai
                                Negeri</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="job" value="WIRAUSAHA" v-model="isOther" :value="true" />
                                Wirausaha</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="job" value="PROFESIONAL" v-model="isOther" :value="true" />
                                Profesional</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label class="radio-inline"
                                ><input type="radio" name="job" value="PEKERJA KERAS" v-model="isOther" :value="true" /> Pekerja
                                Keras</label
                              >
                            </div>
                            <div
                              class="col-md-3 col-sm-12 radio-inline"
                            >
                              <label class="radio-inline"
                                ><input type="radio" name="job" value="PELAJAR" v-model="isOther" :value="true" />
                                Pelajar</label
                              >
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 radio-inline">
                             <label class="radio-inline"
                                ><input type="radio" v-model="isOther" :value="false" name="job" value="PELAJAR" />
                                Lainnya</label
                              >
                              <div  class="col-md-6 col-sm-12 input-primary">
                                <input
                                v-if="isOther == false"
                                  type="type"
                                  class="form-control"
                                  name="job"
                                  value=""
                                  placeholder="Sebutkan"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                          <label class="col-form-label"
                            >Program Yang Diikuti</label
                          >
                          <div class="row">
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label for="pra" class="radio-inline"
                                ><input id="pra" type="radio" name="optradio" v-model="isOtherClass" :value="true" />
                                Pra-Kerja</label
                              >
                            </div>
                            <div class="col-md-3 col-sm-12 radio-inline">
                              <label for="cor" class="radio-inline"
                                ><input id="cor" type="radio" name="optradio" v-model="isOtherClass" :value="true" />
                                Corporate</label
                              >
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 radio-inline">
                              <label for="isOtherClass" class="radio-inline"
                                ><input id="isOtherClass" v-model="isOtherClass" :value="false" type="radio" name="optradio" />
                                Lainnya</label
                              >
                              <div v-if="isOtherClass == false" class="col-md-6 col-sm-12 input-primary">
                                <input
                                  type="type"
                                  class="form-control"
                                  name="optradio"
                                  placeholder="Sebutkan"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                          <div class="row">
                            <div class="col-md-4 col-sm-12">
                              <label for="hope" class="col-form-label"
                                >Harapan Mengikuti Program</label
                              >
                            </div>
                            <div class="col-md-8 col-sm-12">
                              <input
                              id="hope"
                                type="type"
                                class="form-control"
                                name="optradio"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-9">
                          <button type="submit" class="btn btn-primary">
                            Simpan
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright © Designed &amp; Developed by
            <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2021
          </p>
        </div>
      </div>
    </div>
    <script src="/vendor/global/global.min.js"></script>
    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    
    <script src="/vendor/moment/moment.min.js"></script>
    <script src="/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="/js/plugins-init/material-date-picker-init.js"></script>
    <script src="/vendor/vue/vue.js"></script>

    <script src="/js/custom.min.js"></script>
    <script src="/js/deznav-init.js"></script>
    <script>
      var formStudent = new Vue ({
        el: '#formStudent',
        mounted(){
        },
        data: {
          checkedSocmedFb: false,
          checkedSocmedIg: false,
          isOther: true,
          isOtherClass: true
        }
      })
    </script>
  </body>
</html>
#030720#0c2bda